body
{
    margin: 0;
    padding: 0;
    background: linear-gradient(-90deg, red, blue, violet, black);
    color: white;
}

#border{
    font-weight: bolder;
    font-size: 2vh;
}

h2{
    color: black;
    font-weight: bolder;
    font-family: monospace, serif;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;      
  }

.p-footer{
    margin-top: auto;
    margin-bottom: auto;
}

.container {
    position: relative;
    min-height: 97.5vh;
    text-align: center;
  }

.content{
    border: 2px white solid;
    width: 80vh;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}